{% extends "base.html" %}
{% block content %}

<h1>Gestion des clients</h1>

<form action="/clients/add" method="POST" class="form">
	<form method="POST" autocomplete="off">
    <input type="text" name="nom" placeholder="Nom" required>
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="telephone" placeholder="Téléphone">
    <input type="text" name="site_web" placeholder="Site web">
    <button type="submit" class="btn-primary">Ajouter</button>
</form>

<table>
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
	<th>Site web</th>
        <th>Temps total (heures)</th>
        <th>Actions</th>
    </tr>

{% for c in clients %}
    <tr>
    	<td>{{ c[1] }}</td>
    	<td>{{ c[2] }}</td>
    	<td>{{ c[3] }}</td>
    	<td>
            {% if c[4] %}
                -
            {% endif %}
    	</td>
    	<td>{{ (c[4] / 60)|round(2) }}</td>
    	<td>
            <a href="/modifier_client/{{ c[0] }}" class="btn-edit">Modifier</a>
            <a href="/clients/delete/{{ c[0] }}" class="btn-delete">Supprimer</a>
    	</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}
