{% extends "base.html" %}
{% block content %}

<h1>Modifier le client</h1>

<div class="card" style="max-width:500px;">
    <form method="POST" class="form">
		<form method="POST" autocomplete="off">

        <label>Nom</label>
        <input type="text" name="nom" value="{{ client['nom'] }}" required>

        <label>Email</label>
        <input type="email" name="email" value="{{ client['email'] }}">

        <label>Téléphone</label>
        <input type="text" name="telephone" value="{{ client['telephone'] }}">

	<label>Site web</label>
	<input type="text" name="site_web" value="{{ client['site_web'] }}">

        <div style="margin-top:20px;">
            <button type="submit">Enregistrer</button>
            <a href="/clients" style="margin-left:15px;">Retour</a>
        </div>

    </form>
</div>


{% endblock %}
