{% extends "base.html" %}

{% block content %}

<h1 style="margin-bottom:30px;">Modifier le technicien</h1>

<div class="card" style="max-width:600px;">

    <form method="POST" class="form">

        <label>Nom</label>
        <input type="text" name="nom" value="{{ technicien['nom'] }}" required autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false">

        <label>Prénom</label>
        <input type="text" name="prenom" value="{{ technicien['prenom'] }}" required autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false">

        <label>Code</label>
        <input type="text" name="code" value="{{ technicien['code'] }}" required autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false">

        <label>Spécialité</label>
        <input type="text" name="specialite" value="{{ technicien['specialite'] }}" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false">

        <label>Statut</label>
        <select name="statut">
            <option value="Actif" {% if technicien['statut'] == "Actif" %}selected{% endif %}>Actif</option>
            <option value="Inactif" {% if technicien['statut'] == "Inactif" %}selected{% endif %}>Inactif</option>
        </select>

        <div style="margin-top:25px;">
            <button type="submit">Enregistrer</button>
            <a href="/techniciens" style="margin-left:15px; text-decoration:none; color:#64748b;">
                Retour
            </a>
        </div>

    </form>

</div>


{% endblock %}
