{% extends "base.html" %}
{% block content %}

<h1>Gestion des utilisateurs</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Rôle</th>
        <th>Action</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{ u[0] }}</td>
        <td>{{ u[1] }}</td>
        <td>{{ u[2] }}</td>
        <td>
            <a href="/users/delete/{{ u[0] }}"
               onclick="return confirm('Supprimer cet utilisateur ?')"
               class="btn-delete">
               Supprimer
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}